{% extends 'farmer/index.html' %}
{% block content %}
    <div style="margin-top: 100px;margin-left: 10%;margin-right: 10%;" >


        <v-card class="mb-5">
            <v-card-title>
                Raj
            </v-card-title>
            <v-card-text>
                Brand : Swappna Trades,<br>
                contact : 9898101111<br>
                Crop : Paddy <br>
                <span>Rate : ₹600/25kg</span>
            </v-card-text>
        </v-card>
        <v-card class="mb-5">
            <v-card-title>
                Kumari
            </v-card-title>
            <v-card-text>
                Brand : Kamal Trades,<br>
                contact : 9898101111<br>
                Crop : Paddy <br>
                <span>Rate : ₹500/25kg</span>
            </v-card-text>
        </v-card>
</div>

   {% endblock %}